{% extends "base.html" %}
{% block content %}
{% set ns = namespace(featured=None) %}
<!-- Main -->
	<div id="main">

		{% if FEATURED_ARTICLE %}
			{% if FEATURED_ARTICLE is eq(-1) %}
				{% set ns.featured = articles[0] %}
			{% else %}
				{% for article in articles if article.slug == FEATURED_ARTICLE %}
					{% set ns.featured = article %}
				{% endfor %}
			{% endif %}
		<!-- Featured Post -->
			<article class="post featured">
				<header class="major">
					<span class="date">{{ ns.featured.date.strftime("%b %d %Y") }}</span>
					<h2><a href="{{ SITEURL }}/{{ ns.featured.url }}">{{ ns.featured.title }}</a></h2>
					<p>{{ ns.featured.summary }}</p>
				</header>
				{% if ns.featured.mainimage %}
				<a href="{{ SITEURL }}/{{ ns.featured.url }}" class="image main"><img src="{{ SITEURL }}/{{ ns.featured.mainimage }}" alt="" /></a>
				{% endif %}
				<ul class="actions special">
					<li><a href="{{ SITEURL }}/{{ ns.featured.url }}" class="button large">Full Story</a></li>
				</ul>
			</article>
		{% endif %}

		<!-- Posts -->
			<section class="posts">
				{% for article in articles %}
				<article>
					<header>
						<span class="date">{{ article.date.strftime("%b %d %Y") }}</span>
						<h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</h2>
					</header>
					{% if article.mainimage %}
					<a href="{{ SITEURL }}/{{ article.url }}" class="image fit"><img src="{{ SITEURL }}/{{ article.mainimage }}" alt="" /></a>
					{% endif %}
					<p>{{ article.summary }}</p>
					<ul class="actions special">
						<li><a href="{{ SITEURL }}/{{ article.url }}" class="button">Full Story</a></li>
					</ul>
				</article>
				{% endfor %}
			</section>

		<!-- Footer -->
			<!-- <footer>
				<div class="pagination">
					<a href="#" class="previous">Prev</a>
					<a href="#" class="page active">1</a>
					<a href="#" class="page">2</a>
					<a href="#" class="page">3</a>
					<span class="extra">&hellip;</span>
					<a href="#" class="page">8</a>
					<a href="#" class="page">9</a>
					<a href="#" class="page">10</a>
					<a href="#" class="next">Next</a>
				</div>
			</footer> -->

	</div>
{% endblock content %}