{% extends "base.html" %}
{% block content %}
{% set ns = namespace(featured=None) %}
<!-- Main -->
	<div id="main">

		{% if FEATURED_ARTICLE %}
			{% if FEATURED_ARTICLE is eq(-1) %}
				{% set ns.featured = articles[0] %}
			{% else %}
				{% for article in articles if article.slug == FEATURED_ARTICLE %}
					{% set ns.featured = article %}
				{% endfor %}
			{% endif %}
		<!-- Featured Post -->
		{{ post_preview(ns.featured, featured=True) }}
		{% endif %}

		{{ posts(article_list=articles) }}

		{{ paginator() }}

	</div>
{% endblock content %}