{% extends "base.html" %}
{% block content %}
{% set ns = namespace(featured=None) %}
<!-- Main -->
	<div id="main">

		{% if FEATURED_ARTICLE %}
			{% if FEATURED_ARTICLE is eq(-1) %}
				{% set ns.featured = articles[0] %}
			{% else %}
				{% for article in articles if article.slug == FEATURED_ARTICLE %}
					{% set ns.featured = article %}
				{% endfor %}
			{% endif %}
		<!-- Featured Post -->
			<article class="post featured">
				<header class="major">
					<span class="date">{{ ns.featured.date.strftime("%b %d %Y") }}</span>
					<h2><a href="{{ SITEURL }}/{{ ns.featured.url }}">{{ ns.featured.title }}</a></h2>
					<p>{{ ns.featured.summary }}</p>
				</header>
				{% if ns.featured.mainimage %}
				<a href="{{ SITEURL }}/{{ ns.featured.url }}" class="image main"><img src="{{ SITEURL }}/{{ ns.featured.mainimage }}" alt="" /></a>
				{% endif %}
				<ul class="actions special">
					<li><a href="{{ SITEURL }}/{{ ns.featured.url }}" class="button large">Full Story</a></li>
				</ul>
			</article>
		{% endif %}

		{{ posts(article_list=articles) }}

		{{ paginator() }}

	</div>
{% endblock content %}