{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{% endblock %}

{% block content %}
    <!-- Main -->
    <div id="main">

        <!-- Post -->
            <section class="post">
                <header class="major">
                    {% if page.showdatetime %}
                    <span class="date">{{ page.date.strftime("%b %d %Y") }}</span>
                    {% else %}
                    <span class="date">•••</span>
                    {% endif %}
                    <h1>{{ page.title }}</h1>
                    <p>{{ page.summary }}</p>
                </header>
                {% if page.mainimage %}
                <div class="image main"><img src="{{ SITEURL }}/{{ page.mainimage }}" alt="" /></div>
                {% endif %}
                <p>{{ page.content }}</p>
            </section>

    </div>
{% endblock %}